{% extends "navbar.html" %}
{% block content %}


<title>buoyFlex - Error </title>

<section class="hero is-primary is-bold is-small">

    <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns">

              <div class="stations-box">
                <div class="stations-area" >

                 <p class="title is-4">Error trying the last request:</p>
                 <p>{{ error }}</p>

                </div>
             </div>
        </div>
    </div>
</div>

</section>

{% endblock %}
